[package]
name = "polka-domain-primitives"
version = "0.1.0"
authors = ["Alkaid <alkaidwe@gmail.com>"]
license = "Apache-2.0"
edition = "2018"

[dependencies]
bstringify = "0.1.2"
serde = { version = "1.0.124", optional = true }
codec = { package = "parity-scale-codec", version = "2.0.0", default-features = false }
sp-io = { default-features = false }
sp-core = { default-features = false }
sp-runtime = { default-features = false }
sp-std = { default-features = false }

[dev-dependencies]
frame-support = { }
serde_json = { version = "1.0.64" }

[features]
default = ["std"]
std = [
	"serde",
	"codec/std",
	"sp-runtime/std",
	"sp-core/std",
	"sp-std/std",
	"sp-io/std",
]
